# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.vscode/
*.tfevents.*
*.pt
*.onnx
*.npy
*.pkl
*.csv

# Ignore Visual Studio temporary files
.vs/
bin/
obj/

# Ignore .NET build files
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.user
*.userosscache
*.suo
*.ncb
*.sdf
*.opensdf
*.cachefile
*.nuget.props
*.nuget.targets
*.dotCover
*.resharper
[Tt]est[Rr]esult*
*.VisualState.xml
_buildlogs/*